In [1]:
import pandas as pd

In [2]:
s = pd.read_csv('Annual_survey.csv')
s.head(5)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021.0,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"7,57,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021.0,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"6,74,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021.0,Level 1,99999.0,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021.0,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021.0,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"6,54,404",ANZSIC06 divisions A-S (excluding classes K633...

In [4]:
s['Year'].head()#syntax for reading the column

0    2021.0
1    2021.0
2    2021.0
3    2021.0
4    2021.0
Name: Year, dtype: float64

In [6]:
s['Sport'] = 'BasketBall'
s.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06,Sport
0,2021.0,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"7,57,504",ANZSIC06 divisions A-S (excluding classes K633...,BasketBall
1,2021.0,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"6,74,890",ANZSIC06 divisions A-S (excluding classes K633...,BasketBall
2,2021.0,Level 1,99999.0,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...,BasketBall
3,2021.0,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...,BasketBall
4,2021.0,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"6,54,404",ANZSIC06 divisions A-S (excluding classes K633...,BasketBall

In [7]:
s['League'] = 'National Basketball Association'
s.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06,Sport,League
0,2021.0,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"7,57,504",ANZSIC06 divisions A-S (excluding classes K633...,BasketBall,National Basketball Association
1,2021.0,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"6,74,890",ANZSIC06 divisions A-S (excluding classes K633...,BasketBall,National Basketball Association
2,2021.0,Level 1,99999.0,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...,BasketBall,National Basketball Association
3,2021.0,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...,BasketBall,National Basketball Association
4,2021.0,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"6,54,404",ANZSIC06 divisions A-S (excluding classes K633...,BasketBall,National Basketball Association

In [8]:
s = pd.read_csv('Annual_survey.csv')
s.head(5)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021.0,Level 1,99999.0,All industries,Dollars (millions),H01,Total income,Financial performance,"7,57,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021.0,Level 1,99999.0,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"6,74,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021.0,Level 1,99999.0,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021.0,Level 1,99999.0,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021.0,Level 1,99999.0,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"6,54,404",ANZSIC06 divisions A-S (excluding classes K633...

In [19]:
s.insert(loc =3,column = "part", value = "First")

ValueError: cannot insert a, already exists

In [20]:
s.head()

,a,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,part,Sport,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,-1,2021.0,Level 1,99999.0,First,BasketBall,All industries,Dollars (millions),H01,Total income,Financial performance,"7,57,504",ANZSIC06 divisions A-S (excluding classes K633...
1,-1,2021.0,Level 1,99999.0,First,BasketBall,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"6,74,890",ANZSIC06 divisions A-S (excluding classes K633...
2,-1,2021.0,Level 1,99999.0,First,BasketBall,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,-1,2021.0,Level 1,99999.0,First,BasketBall,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,-1,2021.0,Level 1,99999.0,First,BasketBall,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"6,54,404",ANZSIC06 divisions A-S (excluding classes K633...

In [21]:
s.insert(loc = 7, column = 'Leak',value = 'yes')

In [22]:
s.head()

,a,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,part,Sport,Industry_name_NZSIOC,Leak,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,-1,2021.0,Level 1,99999.0,First,BasketBall,All industries,yes,Dollars (millions),H01,Total income,Financial performance,"7,57,504",ANZSIC06 divisions A-S (excluding classes K633...
1,-1,2021.0,Level 1,99999.0,First,BasketBall,All industries,yes,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"6,74,890",ANZSIC06 divisions A-S (excluding classes K633...
2,-1,2021.0,Level 1,99999.0,First,BasketBall,All industries,yes,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,-1,2021.0,Level 1,99999.0,First,BasketBall,All industries,yes,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,-1,2021.0,Level 1,99999.0,First,BasketBall,All industries,yes,Dollars (millions),H08,Total expenditure,Financial performance,"6,54,404",ANZSIC06 divisions A-S (excluding classes K633...